
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}


h1 {
    font-size: 2.5em;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 30px;
}


#chart {
    margin: auto;
    width: 100%;
    max-width: 1200px;  
    height: auto;       
    position: relative;
}


.legend {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 20%;  
    max-width: 200px; 
    min-width: 150px; 
    position: absolute;
    top: 20%;
    right: 5%;
}


.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}


.swatch {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    display: inline-block;
}


#legend-dropdown {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%; 
    height: 30px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px;
    margin-top: 10px;
}


#legend-dropdown option {
    padding: 5px;
}


.brush .selection {
    fill: lightblue;  
    fill-opacity: 0.3;
    stroke: #2196F3;  
    stroke-width: 2;
}


.percentage-change {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
    max-width: 250px;
}


.percentage-change {
    position: absolute;
    top: 10%;
    left: 80%;
    transform: translateX(10px);  
}


@media (max-width: 768px) {
    .legend {
        position: relative;
        width: 90%;  
        margin: 10px auto;
    }

    #legend-dropdown {
        width: 100%; 
    }

    .percentage-change {
        left: 100%;
        transform: translateX(10px); 
    }
}
